@model List<QuartoModel>

@{
    ViewData["Title"] = "Quartos";
}

<div class="text-center">
    <h1 class="display-4">Listagem dos quartos</h1>
    <div class="grid text-center">
        <a type="button" asp-route-id="Id" asp-controller="Quartos" asp-action="NovoHospede" class="btn btn-primary col-3 m-2">Novo hospede</a>
        <a class="btn btn-primary col-3 m-2" role="button" asp-controller="Quartos" asp-action="Novo">Novo quarto</a>
    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Tipo</th>
                <th scope="col">Quarto</th>
                <th scope="col">Status</th>
                <th scope="col">Nome</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                foreach (QuartoModel quarto in Model)
                {
                    <tr>
                        <th scope="row">@{
                                if(quarto.Tipo == 1000)
                                {
                                    <p>Básico</p>
                                }
                                else if (quarto.Tipo == 1500)
                                {
                                    <p>Suite</p>
                                }
                                else
                                {
                                    <p>Suite Master</p>
                                }
                            }
                        </th>
                        <td>@quarto.NumQuarto</td>
                        <td>@if(quarto.Status == true)
                            {
                                <p>Ocupado</p>
                            }
                            else
                            {
                                <p>Vazio</p>
                            }
                        </td>
                        <td>@quarto.AtualNome
                        </td>
                        <td>
                            <a type="button" asp-route-quarto="@quarto.Id" asp-route-id="@quarto.Id" class="btn btn-secondary" asp-controller="Quartos" asp-action="ApagarConfirmacao">Apagar Quarto</a>
                            <div class="btn-group" role="group">
                                @if (quarto.Status == true)
                                {
                                    <a type="button" asp-route-quarto="@quarto.Id" asp-route-id="@quarto.Id" class="btn btn-danger" asp-controller="Quartos" asp-action="Editar">Check-Out</a>
                                }
                                else
                                {
                                    <a type="button" asp-route-quarto="quarto" asp-route-id="@quarto.Id" class="btn btn-success" asp-controller="Quartos" asp-action="Criar">Check-In</a>
                                }
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>

